.row {
  padding: 0% !important;
  --bs-gutter-x: 0% !important;
}


.col {
  padding: 0% !important;
}

span {
  padding-left: 1%;
}



.image {
  width: 100%;
  min-height: 86vh;
  background-image: url('./../../assets/images/BackGround/java2_17.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;


}

