


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          type="button"
          class="btn btn-outline-light"
          routerLink="/java/oop-part02"
        >
        Opp-Part02 in Java
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Composition</h2>
    </div>

    <div class="col-xs-12 picture">
      <div class="image">
        <img src="./../../../../assets/images/BackGround/javaComposition.png" alt="">
      </div>
      <h3>PDF File</h3>
      <div class="image">
        <iframe
          src="./../../../../assets/docs/Oop-Part02/Polymorphism_Composition.pdf"
          width="95%"
          height="900px"
          style="border: none"
        ></iframe>
      </div>
      <h3> Java Prints Files</h3>
      <div class="image img-fluid">
        <img
          src="./../../../../assets/images/Java/Oop-Part02/01_Composition/02_Super_Class_Product.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/01_Composition/02B_Super_Class_Product.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/01_Composition/02C_Super_Class_Product.png"
          alt="Arquivo Html"
        />
      </div>


    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Composition 02</h2>
    </div>

    <div class="col-xs-12 picture">
      <h3>PDF File</h3>
      <div class="image">
        <iframe
          src="./../../../../assets/docs/Oop-Part02/Polymorphism_Composition2.pdf"
          width="95%"
          height="900px"
          style="border: none"
        ></iframe>
      </div>
      <h3> Java Prints Files</h3>
      <div class="image img-fluid">
        <img
          src="./../../../../assets/images/Java/Oop-Part02/01_Composition/03_Composition02_Examples.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/01_Composition/03_Composition02_Examples02.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/01_Composition/03_Main_Class_composition02.png"
          alt="Arquivo Html"
        />

      </div>


    </div>
  </div>
</div>

