
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          type="button"
          class="btn btn-outline-light"
          routerLink="/java/oop-part02"
        >
        Opp-Part02 in Java
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Casting With Class, and Using Object and Var Reference</h2>
    </div>

    <h3>Casting Class</h3>
    <div class="col-xs-12 picture">
      <div class="image">
        <img src="./../../../../assets/images/BackGround/UpcastingVsDowncasting.jpg.png" alt="">
      </div>
      <h3>PDF File</h3>
      <div class="image">
        <iframe
          src="./../../../../assets/docs/Oop-Part02/Polymorphism_Composition.pdf"
          width="95%"
          height="900px"
          style="border: none"
        ></iframe>
      </div>
      <h3> Java Prints Files</h3>
      <div class="image img-fluid">
        <img
          src="./../../../../assets/images/Java/Oop-Part02/01_Composition/02_Super_Class_Product.png"
          alt="Arquivo Html"
        />


    </div>
  </div>
</div>


