
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          type="button"
          class="btn btn-outline-light"
          routerLink="/java/oop-part02"
        >
        Opp-Part02 in Java
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Casting With Class, and Using Object and Var Reference</h2>
    </div>

    <h3>Casting Class</h3>
    <div class="col-xs-12 picture">
      <div class="image">
        <img src="./../../../../assets/images/BackGround/UpcastingVsDowncasting.jpg.png" alt="">
      </div>
      <h3>PDF File</h3>
      <div class="image">
        <iframe
          src="./../../../../assets/docs/Casting-Class/Casting_Class.pdf"
          width="95%"
          height="900px"
          style="border: none"
        ></iframe>
      </div>
      <h3> Java Prints Files</h3>
      <div class="image img-fluid">
        <img
          src="./../../../../assets/images/Java/Casting_Class/02_Casting_Class_SuperClassMovie.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Casting_Class/03_Casting_Class_Adventure_e_MovieClass_Extends.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Casting_Class/03A_Casting_Class_ScienceFiction_Extends.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Casting_Class/04_Casting_Class_Adventure_e_MovieClass_Extends_OverrideMethods.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Casting_Class/01_Casting_Class_MainClass.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Casting_Class/01_Casting_Class_NextMainClass.png"
          alt="Arquivo Html"
        />
        
        
        
      </div>
      <h3> Casting Ex:</h3>
      <div class="image img-fluid">
        <img
        src="./../../../../assets/images/Java/Casting_Class/01_Casting_Class_NextMainClass_Print.png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Casting_Class/01_Casting_Class_NextMainClass_Print2.png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Casting_Class/01_Casting_Class_NextMainClass_Print3.png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Casting_Class/01_Casting_Class_NextMainClass_Print4.png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Casting_Class/01_Casting_Class_NextMainClass_Print5.png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Casting_Class/01_Casting_Class_NextMainClass_Print6.png"
        alt="Arquivo Html"
      />
      </div>
  </div>
</div>


