<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-outline-light" routerLink="/java/inheritance">
                    Inheritance
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>The Inheritance Java Lang Object</h2>
        </div>
        <div class="col-xs-12 picture">
            <h3>PDF File</h3>
            <div class="image">
                <iframe src="./../../../../assets/docs/The_Inheritance_Java_Lang_Object.pdf" width="95%" height="900px"
                    style="border: none;"></iframe>
            </div>
            <h3>JAVA Files</h3>
            <div class="image img-fluid">
                <img src="./../../../../assets/images/Java/Inheritance/Java_Lang_Object/02_Main_class_Java.png"
                    alt="Arquivo Html" />
            </div>
            <h3>Oracles Object Methods</h3>
            <div class="image img-fluid">
                <img src="./../../../../assets/images/Java/Inheritance/Java_Lang_Object/01_Object.png"
                    alt="Arquivo Html" />
                <img src="./../../../../assets/images/Java/Inheritance/Java_Lang_Object/01_Object_Methods.png"
                    alt="Arquivo Html" />
                <img src="./../../../../assets/images/Java/Inheritance/Java_Lang_Object/01_Object_Methods_details01.png"
                    alt="Arquivo Html" />
                <img src="./../../../../assets/images/Java/Inheritance/Java_Lang_Object/01_Object_Methods_details01_Clone01.png"
                    alt="Arquivo Html" />
                <img src="./../../../../assets/images/Java/Inheritance/Java_Lang_Object/01_Object_Methods_details01_Clone02.png"
                    alt="Arquivo Html" />
                <img src="./../../../../assets/images/Java/Inheritance/Java_Lang_Object/01_Object_Methods_details01_Equals.png"
                    alt="Arquivo Html" />
                <img src="./../../../../assets/images/Java/Inheritance/Java_Lang_Object/01_Object_Methods_details01_HashCode.png"
                    alt="Arquivo Html" />
                <img src="./../../../../assets/images/Java/Inheritance/Java_Lang_Object/01_Object_Methods_details01_Notify.png"
                    alt="Arquivo Html" />
                <img src="./../../../../assets/images/Java/Inheritance/Java_Lang_Object/01_Object_Methods_details01_Notifyall.png"
                    alt="Arquivo Html" />
                <img src="./../../../../assets/images/Java/Inheritance/Java_Lang_Object/01_Object_Methods_details01_ToString.png"
                    alt="Arquivo Html" />
                <img src="./../../../../assets/images/Java/Inheritance/Java_Lang_Object/01_Object_Methods_details01_Wait01.png"
                    alt="Arquivo Html" />
            </div>
        </div>
    </div>
</div>