<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          type="button"
          class="btn btn-outline-light"
          routerLink="/java/oop-part02"
        >
          Opp-Part02 in Java
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Encapsulation</h2>
    </div>

    <div class="col-xs-12 picture">
      <div class="image">
        <img
          src="./../../../../assets/images/BackGround/javaOop-Part02Encapsulation.png"
          alt=""
        />
      </div>
      <div class="image">
        <img
          src="./../../../../assets/images/BackGround/Encapsulation-in-Java.jpg.png"
          alt=""
        />
      </div>
      <h2>Without Encapsulation Ex:</h2>
      <h3>PDF File</h3>
      <div class="image">
        <iframe
          src="./../../../../assets/docs/Oop-Part02/Polymorphism_encapsulation.pdf"
          width="95%"
          height="900px"
          style="border: none"
        ></iframe>
      </div>
      <h3>Java Prints Files</h3>
      <div class="image img-fluid">
        <img
          src="./../../../../assets/images/Java/Oop-Part02/02_Encapsulation/03_Encapsulation01_Player_Class.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/02_Encapsulation/03_Encapsulation01_Main_Class.png"
          alt="Arquivo Html"
        />
      </div>
      <h2>With Encapsulation Ex:</h2>
      <h3>PDF File</h3>
      <div class="image">
        <iframe
          src="./../../../../assets/docs/Oop-Part02/Polymorphism_encapsulation2.pdf"
          width="95%"
          height="900px"
          style="border: none"
        ></iframe>
      </div>
      <h3>Java Prints Files</h3>
      <div class="image img-fluid">
        <img
          src="./../../../../assets/images/Java/Oop-Part02/02_Encapsulation/03_Encapsulation01_Player_Class.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/02_Encapsulation/04_Encapsulation02_EnhencedPlayer_Class.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/02_Encapsulation/04_Encapsulation02_Main_Class.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/02_Encapsulation/01_Encapsulation.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/02_Encapsulation/02_Encapsulation.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/02_Encapsulation/02A_Encapsulation.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/02_Encapsulation/02B_Encapsulation.png"
          alt="Arquivo Html"
        />
      </div>
    </div>
  </div>
</div>
