<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          type="button"
          class="btn btn-outline-light"
          routerLink="/cSharp"
        >
          Back Java
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Reference-x-Object-x-Instance-x-Class</h2>
    </div>
    <div class="col-xs-12 picture">
      <h3>Html File</h3>
      <div class="image">
        <img
          src="./../../../../../docs/Slides-OOP-Part-1-Inheritance-Reference-vs-Object-vs-Instance-vs-Class.pptx"
          alt="Arquivo Html"
        />
      </div>
    </div>
  </div>
</div>
