<p>interface-x-abstract-class works!</p>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-outline-light" routerLink="/java/modifiers">
                    Modifiers in Java
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Interface vs Abstract Class in Java</h2>
        </div>

        <h3>Abstract Class Vs Interface</h3>
        <div class="col-xs-12 picture">
            <div class="image">
                <img src="./../../../../assets/images/BackGround/Interface-x-AbstractClass01.png" alt="">
            </div>
            <div class="image">
                <img src="./../../../../assets/images/BackGround/Interface-x-AbstractClass02.png" alt="">
            </div>
            <div class="image">
                <img src="./../../../../assets/images/BackGround/Interface-x-AbstractClass03.png" alt="">
            </div>

            <h3>Interface vx Abstract Class PDF File </h3>
            <iframe src="./../../../../assets/docs/Modifiers/Interface-x-AbstractClass.pdf" width="95%" height="900px"
                style="border: none"></iframe>
        </div>
        <h3>Introduction PDF File </h3>
        <div class="col-xs-12 picture">
            <div class="image">
                <img src="./../../../../assets/images/BackGround/Interface-x-AbstractClass01.png" alt="">
                <img src="./../../../../assets/images/BackGround/Interface-x-AbstractClass02.png" alt="">
                <img src="./../../../../assets/images/BackGround/Interface-x-AbstractClass03.png" alt="">
            </div>



        </div>

    </div>