<p>function-interfaces-consulmer-and-predicate works!</p>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          type="button"
          class="btn btn-outline-light"
          routerLink="/java/lambda"
        >
          Lambda in Java
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Lambda Expression</h2>
    </div>

    <h3>Lambda  Methods</h3>
    <div class="col-xs-12 picture">
      <div class="image">
        <img
          src="./../../../../assets/images/BackGround/Lambda-Function-Interfaces2.png"
          alt=""
        />
      </div>
      <h3>Lambda Function Interface Consulmer and Predicate PDF File</h3>
      <iframe
        src="./../../../../assets/docs/Lambda-Expression/04-Lambda-Expression-Introduction.pdf"
        width="95%"
        height="900px"
        style="border: none"
      ></iframe>
    </div>

    <h3>Java Prints MainClass Files</h3>
    <div class="image img-fluid">
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/01_Lambda_Function-Interface-Consumer-and-Predicate.png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/02_Lambda_Function-Interface-Consumer-and-Predicate.png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/02A_Lambda_Function-Interface-Consumer-and-Predicate.png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/04_Lambda_Function-Interface-BiConsumer.png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/05_Lambda_Function-Interface-BiConsumer.png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/06_Lambda_Function-Interface-BiConsumer_Lambda_use-to_format.png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/07_Lambda_Function-Interface-_Remove_Item.png"
        alt="Arquivo Html"
      />

    </div>

    <h3>Java Prints Console Files Method</h3>
    <div class="image img-fluid">
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398.png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (1).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (2).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (3).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (4).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (5).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (6).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (7).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (8).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (9).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (10).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (11).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (12).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (13).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (14).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (15).png"
        alt="Arquivo Html"
      />
      <img
        src="./../../../../assets/images/Java/Lambda/03_Lambda_Function-Interface-Consumer-and-Predicate/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021398 (16).png"
        alt="Arquivo Html"
      />
    </div>


  </div>
</div>
