<p>organizing-java-classes works!</p>
<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-outline-light" routerLink="/java/ooP-Part01">
                  Back to OOP-Part01 Inheritance
              </button>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-12">
          <h2>Organizing Java Class</h2>
      </div>
      <div class="col-xs-12 picture">
          <h3>PDF File</h3>
          <div class="image">
              <iframe src="./../../../../assets/docs/Oop-Part01/Organizing_Java_Class.pdf" width="95%" height="900px"
                  style="border: none;"></iframe>
          </div>
          <h3>Java Files</h3>
          <div class="image img-fluid">
              <img src="./../../../../assets/images/Java/Oop-Part01/Organizing_Java_Class/00_Package_Dev-Lpa_Import_From_Com-Abc-First_ItemClass.png" alt="Arquivo Html" />
              <img src="./../../../../assets/images/Java/Oop-Part01/Organizing_Java_Class/01_Package_Com-Abc-First_ItemClass.png" alt="Arquivo Html" />
          </div>
      </div>
  </div>
</div>
