<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-outline-light" routerLink="/java/arraylist">
                    ArrayList in Java
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Iteractor in Java</h2>
        </div>

        <h3>Iteractor</h3>
        <div class="col-xs-12 picture">
            <div class="image">
                <img src="./../../../../assets/images/BackGround/iteractor.png" alt="">
            </div>
            <h3>ArrayLis PDF File</h3>
            <iframe src="./../../../../assets/docs/Iteractor/Iteractor.pdf" width="95%" height="900px"
                style="border: none"></iframe>
        </div>

        <h3> Java Prints MainClass Files</h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Iterator/01_Interator_MainCLass.png" alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/01A_Interator_MainCLass.png" alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/01B_Interator_MainCLass.png" alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/01C_Interator_MainCLass.png" alt="Arquivo Html" />

        </div>
        <h3> Java Prints Console Files Method </h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Iterator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_35423800.png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_35423800 (1).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_35423800 (2).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_35423800 (3).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_35423800 (4).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_35423800 (5).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_35423800 (6).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_35423800 (7).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_35423800 (8).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_35423800 (9).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_35423800 (10).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_35423800 (11).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_35423800 (12).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Iterator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_35423800 (13).png"
                alt="Arquivo Html" />

        </div>





    </div>
</div>