
<div class="main-div">
  <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/java/array/arrays">Arrays </a>
      </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/java/array/java-util-array">Java Util Array</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/java/array/find-a-match-in-array">Seach a Match in Array</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/java/array/ref-memory-x-value-type">Ref. Memory x Value Type</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/java/array/variable-arguments">Variable Arguments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/java/array/dimentional-arrays">Dimention Arrays</a>
    </li>



  </ul>

  <div class="container container-fluid image">
    <main>
      <div class="row">
        <div class="col-xs-12">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button
              type="button"
              class="btn btn-outline-light"
              routerLink="/java"
            >
              Back Java
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 local-image">
          <h2>Arrays</h2>
        </div>
        <div class="col-xs-12">
          <div class="local-image">
            <img
              src="./../../../assets/images/BackGround/Array.png"
              alt="Arquivo Html"
            />
          </div>
        </div>
      </div>
    </main>
  </div>
</div>



