
<div class="main-div">
  <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/java/array/arrays">Arrays </a>
      </li>

    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/java/casting/testing-runtime">Testing RunTime</a>
    </li> -->



  </ul>

  <div class="container container-fluid image">
    <main>
      <div class="row">
        <div class="col-xs-12">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button
              type="button"
              class="btn btn-outline-light"
              routerLink="/java"
            >
              Back Java
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 local-image">
          <h2>Arrays</h2>
        </div>
        <div class="col-xs-12">
          <div class="local-image">
            <img
              src="./../../../assets/images/BackGround/Casting.png"
              alt="Arquivo Html"
            />
          </div>
        </div>
      </div>
    </main>
  </div>
</div>



