
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-outline-light" routerLink="/java/arraylist">
            ArrayList in Java
          </button>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-12">
        <h2>LinkedList in Java</h2>
      </div>
  
      <h3>LinkedList Part01</h3>
      <div class="col-xs-12 picture">
        <div class="image">
          <img src="./../../../../assets/images/BackGround/Array-List.png" alt="">
        </div>
        <h3>ArrayLis PDF File</h3>
        <iframe src="./../../../../assets/docs/ArrayList/ArrayList.pdf" width="95%" height="900px"
          style="border: none"></iframe>
      </div>
  
      <h3> Java Prints Files</h3>
      <div class="image img-fluid">
        <img src="./../../../../assets/images/Java/ArrayList/01_ArrayList_MainClass_Part01.png" alt="Arquivo Html" />
     
  
      </div>
      <h3> Java Prints Files MoreList Class</h3>
      <div class="image img-fluid">
        <img src="./../../../../assets/images/Java/ArrayList/01_ArrayList_MoreListsClass_Part02A.png" alt="Arquivo Html" />
      
  
      </div>
      <h3> Java Prints Console Files Method </h3>
      <div class="image img-fluid">
        <img src="./../../../../assets/images/Java/ArrayList/02_ArrayList_Print.png" alt="Arquivo Html" />
  
      </div>
      <h3> Java Prints Console Files Method Part02 </h3>
      <div class="image img-fluid">
        <img src="./../../../../assets/images/Java/ArrayList/04_ArrayList_SET_Method.png" alt="Arquivo Html" />
      
  
      </div>
      <h3> Java Prints Console Files Method Part03 </h3>
      <div class="image img-fluid">
        <img src="./../../../../assets/images/Java/ArrayList/07_Create_ArryList_From_the_List.png" alt="Arquivo Html" />
      
  
  
      </div>
  
  
  
    </div>
  </div>
  
