

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-outline-light" routerLink="/java/generics">
                    Modifiers in Java
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Comparables</h2>
         </div>

        <h3> Comparables PDF Files</h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/BackGround/Comparator-x-Comparable.png"
                alt="Arquivo Html" />
            
            <iframe src="./../../../../assets/docs/Generics/Comparable_interface.pdf" width="95%" height="900px"
                style="border: none"></iframe>

        </div>

        <h3> Comparable main Classs </h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/01_MainClass.png"
                alt="Arquivo Html" />

        </div>

        <h3> Comparable Interface Prints Files </h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456.png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (1).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (2).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (3).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (4).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (5).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (6).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (7).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (8).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (9).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (10).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (11).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (12).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (13).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (14).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (15).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (16).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (17).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (18).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (19).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (20).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (21).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456"
                alt="Arquivo Html" />

        </div>





        <h3> Comparables vs Comparator PDF Files</h3>
        <div class="image img-fluid">            
            <iframe src="./../../../../assets/docs/Generics/Comparable_interface-X-Comparator.pdf" width="95%" height="900px"
                style="border: none"></iframe>

        </div>

        <h3> Generics MainClass Java Part01 Files </h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable-x-Comparator/01_StudentClass_Impalement_Comparator.png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable-x-Comparator/01_MainClass.png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable-x-Comparator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (1).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable-x-Comparator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (1).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable-x-Comparator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (2).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable-x-Comparator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (3).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable-x-Comparator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (4).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable-x-Comparator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (5).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable-x-Comparator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (6).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable-x-Comparator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (7).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable-x-Comparator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (8).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable-x-Comparator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (9).png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Comparable-x-Comparator/Comparable-x-Comparator/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36747456 (10).png"
                alt="Arquivo Html" />
          
          



        </div>
   

        <!-- Falta fazer parte 3 -->


    </div>
</div>
