<p>static-x-instance works!</p>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          type="button"
          class="btn btn-outline-light"
          routerLink="/java"
        >
          Back Java
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Static-x-Instance</h2>
    </div>
    <div class="col-xs-12 picture">
      <h3>PDF File</h3>
      <div class="image">
        <iframe src="./../../../../assets/docs/Static_x_ Instance_Variables.pdf" width="95%" height="900px" style="border: none;"></iframe>
      </div>
    </div>
  </div>
</div>
