<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          type="button"
          class="btn btn-outline-light"
          routerLink="/java/oop-part02"
        >
          Opp-Part02 in Java
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Polymorphism 1º Part</h2>
    </div>

    <div class="col-xs-12 picture">
      <div class="image">
        <img
          src="./../../../../assets/images/BackGround/Polymorphism.png"
          alt=""
        />
      </div>
      <h3>PDF File</h3>
      <div class="image">
        <iframe
          src="./../../../../assets/docs/Oop-Part02/Polymorphism_Polymorphism.pdf"
          width="95%"
          height="900px"
          style="border: none"
        ></iframe>
      </div>
      <h3>Java Prints Files</h3>
      <div class="image img-fluid">
        <img
          src="./../../../../assets/images/Java/Oop-Part02/03_PolyMophirms/01_PolyMophirms01_SuperClassMovie.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/03_PolyMophirms/01_PolyMophirms01_Comedy_Class_Extends.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/03_PolyMophirms/01_PolyMophirms01_Adventure_Class_Extends.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/03_PolyMophirms/01_PolyMophirms01_prints01.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/03_PolyMophirms/01_PolyMophirms01_Adventure_Class_Extends_Prints.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/03_PolyMophirms/01_PolyMophirms01_Main_Class_print.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/03_PolyMophirms/01_PolyMophirms01_Main_Class.png"
          alt="Arquivo Html"
        />
        <img
          src="./../../../../assets/images/Java/Oop-Part02/03_PolyMophirms/01_PolyMophirms01_prints.png"
          alt="Arquivo Html"
        />
      </div>

      <div class="col-xs-12 picture">
        <h2>Polymorphism 2º Part</h2>
        <h3>PDF File</h3>
        <div class="image">
          <iframe
            src="./../../../../assets/docs/Oop-Part02/Polymorphism_Polymorphism2.pdf"
            width="95%"
            height="900px"
            style="border: none"
          ></iframe>
        </div>
        <h3>Java Prints Files</h3>
        <div class="image img-fluid">
          <img
            src="./../../../../assets/images/Java/Oop-Part02/03_PolyMophirms/04_PolyMophirms02_SuperClassMovie.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Oop-Part02/03_PolyMophirms/04_PolyMophirms02_Comedy_Class_Extends.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Oop-Part02/03_PolyMophirms/04_PolyMophirms02_ScienceFiction_Class_Extends.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Oop-Part02/03_PolyMophirms/04_PolyMophirms02_Adventure_Class_Extends.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Oop-Part02/03_PolyMophirms/04_PolyMophirms02_Main_Class.png"
            alt="Arquivo Html"
          />
        </div>
      </div>
    </div>
  </div>
</div>
