<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/java/lambda">
          Lambda in Java
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Lambda Expression</h2>
    </div>

    <h3>Lambda Abstract Methods</h3>
    <div class="col-xs-12 picture">
      <div class="image">
        <img src="./../../../../assets/images/BackGround/Lambda-expressions-tutorial2.png" alt="">
      </div>
      <h3>Lambda PDF File</h3>
      <iframe src="./../../../../assets/docs/Lambda-Expression/01-Lambda-Expression-Introduction.pdf" width="95%" height="900px"
        style="border: none"></iframe>


    </div>

    <h3> Java Prints MainClass Part01 Files</h3>
    <div class="image img-fluid">
      <img src="./../../../../assets/images/Java/Lambda/Lambda-Instroduction/01_MainClass.png"
        alt="Arquivo Html" />

    </div>

    <h3> Java Prints Console Files Method </h3>
    <div class="image img-fluid">
      <img
        src="./../../../../assets/images/Java/Lambda/Lambda-Instroduction/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_37021396.png"
        alt="Arquivo Html" />




    </div>



  </div>
</div>
