
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button
            type="button"
            class="btn btn-outline-light"
            routerLink="/java/casting"
          >
             Casting in Java
          </button>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-12">
        <h2>Testing Rutime Type Using the InstanceOf Operator</h2>
      </div>
  
      <div class="col-xs-12 picture">
        <h3>PDF File</h3>
        <div class="image">
          <iframe
            src="./../../../assets/docs/Testing-RunTime/Testing_RunTime_using_InstancedOf_Opertator.pdf"
            width="95%"
            height="900px"
            style="border: none"
          ></iframe>
        </div>
 
  
        <h3>JAVA Files</h3>
        <div class="image img-fluid">
          <img
            src="./../../../../assets/images/Java/Oop-Part01/Block_and_Formating/07_Main_class_All_about_the_String.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Oop-Part01/Block_and_Formating/07A_Main_class_All_about_the_String.png"
            alt="Arquivo Html"
          />
        </div>
      </div>
    </div>
  </div>
  