<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-outline-light" routerLink="/java/array">
                    Arrays in Java
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Variable Arguments...</h2>
        </div>

        <h3>Arguments...</h3>
        <div class="col-xs-12 picture">
            <div class="image">
                <img src="./../../../../assets/images/BackGround/Variable_arguments.png" alt="">
            </div>
            <h3>Introduction PDF File</h3>
            <iframe src="./../../../../assets/docs/Arrays/05_Variable_Arguments.pdf" width="95%" height="900px"
                style="border: none"></iframe>
        </div>
        <h3>Basic 01 PDF File</h3>


    </div>

    <h3> Java Prints Files</h3>
    <div class="image img-fluid">
        <img src="./../../../../assets/images/Java/Array/05_Variable_Arguments/01_Variable_Arguments_Main_CLass.png"
            alt="Arquivo Html" />
        <img src="./../../../../assets/images/Java/Array/05_Variable_Arguments/02_Variable_Arguments_Or_VarArgs.png"
            alt="Arquivo Html" />
        <img src="./../../../../assets/images/Java/Array/05_Variable_Arguments/02B_Variable_Arguments_Or_VarArgs.png"
            alt="Arquivo Html" />
        <img src="./../../../../assets/images/Java/Array/05_Variable_Arguments/02C_Variable_Arguments_Or_Vargs_Prints.png"
            alt="Arquivo Html" />



    </div>
</div>