<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-outline-light" routerLink="/java/generics">
                    Modifiers in Java
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Generics</h2>
         </div>

        <h3> Generics PDF Files</h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/BackGround/Generics2.png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/BackGround/Generics3.png"
                alt="Arquivo Html" />
            <iframe src="./../../../../assets/docs/Generics/Generics_part01.pdf" width="95%" height="900px"
                style="border: none"></iframe>

        </div>

        <h3> Generics MainClass Java Part01 Files </h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Generics/Generics_part01/01_MainClass.png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Generics_part01/02_BaseballTeamClass.png"
                alt="Arquivo Html" />



        </div>
        <h3> Generics MainClass Java Part02 Files</h3>
        <div class="image img-fluid">
            <iframe src="./../../../../assets/docs/Generics/Generics_part02.pdf" width="95%" height="900px"
                style="border: none"></iframe>

        </div>
        <h3> Generics Prints Console Files Part02 </h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Generics/Generics_part02/01_Generics_MainClass.png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Generics_part02/02_Generics_BaseballTeamClass.png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Generics_part02/03_Generics_SportTeamClass.png"
                alt="Arquivo Html" />
            <img src="./../../../../assets/images/Java/Generics/Generics_part02/04_Generics_TeamClass.png"
                alt="Arquivo Html" />

        </div>

        <!-- Falta fazer parte 3 -->

        <h3> Generics MainClass Java Part03 Files</h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Modifiers/03Mofifiers_Part03/01_AbstractClass_Mannal_Extends_AnimalCLass.png"
                alt="Arquivo Html" />


        </div>
        <h3> Generics Prints Console Files Part03 </h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Modifiers/03Mofifiers_Part03/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36166872.png"
                alt="Arquivo Html" />



        </div>

    </div>
</div>