<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-outline-light" routerLink="/java/generics">
                    Modifiers in Java
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Generics</h2>
         </div>

        <h3> Generics PDF Files</h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Modifiers/01Modifiers_Part01/01_SuperClassAbstract_AnimalClass.png"
                alt="Arquivo Html" />
            <iframe src="./../../../../assets/docs/Modifiers/Modifiers_Part01.pdf" width="95%" height="900px"
                style="border: none"></iframe>

        </div>

        <h3> Generics MainClass Java Part01 Files </h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Modifiers/01Modifiers_Part01/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36166872.png"
                alt="Arquivo Html" />



        </div>
        <h3> Generics MainClass Java Part02 Files</h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Modifiers/02Modifiers_Part02/04_SuperClassAbstract_AnimalClass.png"
                alt="Arquivo Html" />

        </div>
        <h3> Generics Prints Console Files Part02 </h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Modifiers/02Modifiers_Part02/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36166872.png"
                alt="Arquivo Html" />

        </div>

        <h3> Generics MainClass Java Part03 Files</h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Modifiers/03Mofifiers_Part03/01_AbstractClass_Mannal_Extends_AnimalCLass.png"
                alt="Arquivo Html" />


        </div>
        <h3> Generics Prints Console Files Part03 </h3>
        <div class="image img-fluid">
            <img src="./../../../../assets/images/Java/Modifiers/03Mofifiers_Part03/glintt.udemy.com_course_java-the-complete-java-developer-course_learn_lecture_36166872.png"
                alt="Arquivo Html" />



        </div>

    </div>
</div>