<div class="main-div">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="ooP-Part01"
        >OOP-Part01</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link " aria-current="page" routerLink="inheritance"
        >Inheritance</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link " aria-current="page" routerLink="string"
        >String</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link " aria-current="page" routerLink="oop-part02"
        >Oop-Part02</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link " aria-current="page" routerLink="casting"
        >Casting</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link " aria-current="page" routerLink="array"
        >Array</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link " aria-current="page" routerLink="arraylist"
        >ArrayList</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link " aria-current="page" routerLink="modifiers"
        >Modifiers</a
      >
    </li>

  </ul>

  <div class="container container-fluid image">
    <main>
      <div class="row">
        <div class="col-xs-12">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button
              type="button"
              class="btn btn-outline-light"
              routerLink="/java"
            >
              Back Java
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 local-image">
          <h2>Java 17</h2>
        </div>
        <div class="col-xs-12">
          <div class="local-image">
            <img
              src="./../../assets/images/BackGround/Java-Development-Kit-17.jpg"
              alt="Arquivo Html"
            />
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
