

<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button
            type="button"
            class="btn btn-outline-light"
            routerLink="/java/array"
          >
          Arrays in Java
          </button>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-12">
        <h2>Find a Match Using Binary Seach in Array</h2>
      </div>
  
      <h3>Static Array Methods</h3>
      <div class="col-xs-12 picture">
        <div class="image">
          <img src="./../../../../assets/images/BackGround/Array_BinarySeach.png" alt="">
        </div>
        <h3>Search  in Arrays PDF File</h3>
          <iframe
            src="./../../../../assets/docs/Arrays/03_Find_a_Match_Using_a_Binary_Search.pdf"
            width="95%"
            height="900px"
            style="border: none"
          ></iframe>
        </div>
  
  
        <h3> Java Prints Files</h3>
        <div class="image img-fluid">
          <img
            src="./../../../../assets/images/Java/Array/Finding_a_Match_using_a_Binary_seach/02_Binary_Search_Print.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/Finding_a_Match_using_a_Binary_seach/03_Binary_Search_Print.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/Finding_a_Match_using_a_Binary_seach/03A_Binary_Search_Print.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/Finding_a_Match_using_a_Binary_seach/04A_Equals_print.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/Finding_a_Match_using_a_Binary_seach/04B_Equals_print.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/Finding_a_Match_using_a_Binary_seach/04C_Equals_print.png"
            alt="Arquivo Html"
          />
        
  
        </div>
  
    </div>
  </div>
  
  
  
  