
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button
            type="button"
            class="btn btn-outline-light"
            routerLink="/java/array"
          >
          Arrays in Java
          </button>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-12">
        <h2>Reference Memory vs Value Type</h2>
      </div>
  
      <h3>Array</h3>
      <div class="col-xs-12 picture">
        <div class="image">
          <img src="./../../../../assets/images/BackGround/Array_Reference_Memory.png" alt="">
        </div>
        <h3>Reference Memory PDF File</h3>
          <iframe
            src="./../../../../assets/docs/Arrays/04_Reference_Memory_vs_Value_types.pdf"
            width="95%"
            height="900px"
            style="border: none"
          ></iframe>
        </div>
      
  
        <h3> Java Prints Files</h3>
        <div class="image img-fluid">
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/01_Array_Ref_Print_Main_Class.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/02_Array_Ref_Print.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/02A_Array_Ref_Print_New_Object.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/02B_Array_Ref_Print_Equal_Sign.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/02C_Array_Ref_Print_Equal_Sign.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/02D_Array_Ref_Print_Equal_Sign.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/02E_Array_Ref_Print_Equal_Sign.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/02F_Array_Ref_Print_Equal_Sign.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/02G_Array_Ref_Print_Equal_Sign.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/02H_Array_Ref_Print_Equal_Sign.png"
            alt="Arquivo Html"
          />
          
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/02I_Array_Ref_Print_Equal_Sign.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/02J_Array_Ref_Print_Equal_Sign_Change_Value_both_Arrays_Ref_same_Memory.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/02J_Array_Ref_Print_Equal_Sign_Change_Value_both_Arrays_Ref_same_Memory.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/02L_Array_Ref_Print_Equal_Sign_Change_Value_both_Arrays_Ref_same_Memory.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/02M_Array_Ref_Print_Equal_Sign_Change_Value_both_Arrays_Ref_same_Memory.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/03_Array_Ref_Print_Equal_Sign_Change_Value_both_Arrays_Ref_same_Memory_in_3_Ref.png"
            alt="Arquivo Html"
          />
          <img
            src="./../../../../assets/images/Java/Array/04_Array_Ref_vs_Value_Type/03A_Array_Ref_Print_Equal_Sign_Change_Value_both_Arrays_Ref_same_Memory_in_3_Ref.png"
            alt="Arquivo Html"
          />
          
        </div>
  
    </div>
  </div>
  
  
  
