<p>array-x-arraylist-x-linkedlist works!</p>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/java/arraylist">
          ArrayList in Java
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Array vs ArrayList vs LinkedList in Java</h2>
    </div>

    <h3>ArrayList vs LinkedList</h3>
    <div class="col-xs-12 picture">
      <div class="image">
        <img src="./../../../../assets/images/BackGround/Array-List.png" alt="">
      </div>
      <h3>ArrayLis PDF File</h3>
      <iframe src="./../../../../assets/docs/Array_x_ArrayList/Array_x_ArrayList_x_linkedList.pdf" width="95%" height="900px"
        style="border: none"></iframe>
    </div>




  </div>
</div>
