<p>block-and-formatting works!</p>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-outline-light" routerLink="/java/ooP-Part01">
                    Back to OOP-Part01 Inheritance
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Block and Option Formatting</h2>
        </div>
        <div class="col-xs-12 picture">
            <h3>PDF File</h3>
            <div class="image">
                <iframe src="./../../../../assets/docs/Blocks_and_Formatting.pdf" width="95%" height="900px"
                    style="border: none;"></iframe>
            </div>
            <h3>Oracles Prints Files</h3>
            <div class="image img-fluid">
                <img src="./../../../../assets/images/Java/Oop-Part01/Block_and_Formating/01_Formatting_Options.png" alt="Arquivo Html" />               
            </div>
            <div class="image img-fluid">
                <img src="./../../../../assets/images/Java/Oop-Part01/Block_and_Formating/02_Formatting_Options.png" alt="Arquivo Html" />               
            </div>
            <div class="image img-fluid">
                <img src="./../../../../assets/images/Java/Oop-Part01/Block_and_Formating/03_Formatting_Options.png" alt="Arquivo Html" />               
            </div>
            <div class="image img-fluid">
                <img src="./../../../../assets/images/Java/Oop-Part01/Block_and_Formating/04_Formatting_Options_constructor_summary.png" alt="Arquivo Html" />               
            </div>
            <div class="image img-fluid">
                <img src="./../../../../assets/images/Java/Oop-Part01/Block_and_Formating/05_Formatting_Options_Method_summary.png" alt="Arquivo Html" />               
            </div>
            <h3>JAVA Files</h3>
            <div class="image img-fluid">
                <img src="./../../../../assets/images/Java/Oop-Part01/Block_and_Formating/05_Main_Class.png" alt="Arquivo Html" />
               
            </div>
        </div>
    </div>
</div>


