
<div class="main-div">
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="/java/modifiers/abstract">Abstract</a>
        </li>
      
  
  
  
  
  
    </ul>
  
    <div class="container container-fluid image">
      <main>
        <div class="row">
          <div class="col-xs-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button
                type="button"
                class="btn btn-outline-light"
                routerLink="/java"
              >
                Back Java
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 local-image">
            <h2><a href="https://docs.oracle.com/javase/tutorial/java/javaOO/lambdaexpressions.html" style="text-decoration: none;">Lambda Expression</a> </h2>
          </div>
          <div class="col-xs-12">
            <div class="local-image">
              <img
                src="./../../../assets/images/BackGround/Lambda-expressions-tutorial.png"
                alt="Arquivo Html"
              />
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  
  
  
  
  
  